* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

label {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
}

form {
  display: left;
  gap: 1rem;
  margin-bottom: 20px;
}

button {
  margin-left: 2rem;
  padding: 5px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.artwork-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #000000;
}

.artwork-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: auto;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 2px 15px;
  transition: transform 
}

.back-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #218838;
  text-decoration: underline;
}